@use "./mixins";

footer {
padding: 20px 0;
background: mixins.$cor-4;
@include mixins.sombra(0 0 0 10px mixins.$cor-4);
p {
  color: mixins.$cor-3;
  text-align: center; 
}
a {
  color: mixins.$cor-3;
  display: block;
  transition: .3s;
  padding-bottom: 10px;
    &:hover {
        color: mixins.$cor-0;
  } 
  img {
    float: right;
    @include mixins.device(mobile) {
      float: none;
      margin: 20px auto;
    }
  }
 }
}
