
@use "./mixins" as m;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  margin: 0;
}

body {
  background-color: m.$cor-2;
  border: 10px solid m.$cor-3;
  color: m.$cor-4;
  @include m.device(mobile) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}
.titulo {
@include m.estilo-1(18);
  text-transform: uppercase;
  @include m.device(mobile) {

  
    margin-bottom: 40px;
  }
  &::after {
    content: "";
    display: block;
    background: m.$cor-4;
   

    width: 75%;
    float: right;
    height: 2px;
    margin-top: 14px;
   @include m.device(tablet) {
      width: 50%;
    }
  }
}
p {
  font-size: 18px;
  font-family: "PT Mono", monospace;
}

